**
!Cargo.toml
!Cargo.lock
!crates/
!crates/**

crates/**/target
crates/**/node_modules
crates/**/.svelte-kit
crates/**/dist
crates/**/.env
crates/**/.env.*
crates/**/*.env
!crates/**/.env.example
!crates/**/*.env.example
crates/**/.npmrc
crates/**/.cargo/credentials
crates/**/.cargo/credentials.toml
crates/**/*.key
crates/**/*.pem
crates/**/*.p12
crates/**/*.pfx
crates/**/id_ed25519*
crates/**/id_rsa*
